*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

/* centered body + font */

body {
    font-family: 'Fredoka', sans-serif;
    max-width: 1000px;
    margin: 0 auto;
}

/* header style */
header{
    text-align: center;
    padding-top: 2em;
}

header h1 {
    color: #e5306f;
    padding-bottom: 1em;
}


